* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

@font-face {
  font-family: 'Atlantis';
  src: url('assets/fonts/AtlantisInlineGrunge.otf') format('opentype'),
    url('assets/fonts/AtlantisInlineGrunge.ttf') format('truetype');
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  background-color: #0a1847;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("./assets/Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #95f3fd;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: #0a1847;
  border-radius: 10px;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #95f3fd #0a1847;
}

/* Custom scrollbar for IE/Edge (fall back) */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #95f3fd;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background-color: #0a1847;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #0a1847;
  padding: 0.75rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.75rem;
  flex-grow: 1;
  justify-content: center;
}

.logo img, .placeholder {
  width: 8rem;
}

.nav-links li {
  display: inline;
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: #0a1847;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle span {
    background: white;
  }

  .nav-links.active + main {
    margin-top: 200px;
  }

  main.active {
    margin-top: 200px;
    transition: margin-top 0.5s ease;
  }
}

.background-container {
  background-image: url(assets/Background-events.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  color: white;
  text-align: center;
  }

/* EVENTS section */
.event-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  color: white;
  text-align: center;
}

.events-title h1 {
  margin-bottom: 2rem;
  font-family: 'Atlantis', sans-serif;
  font-size: 3rem;
}

.event-pbp {
  background: rgba(27, 94, 167, 0.78);
  height: auto;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event-pbp img {
  width: 40%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.event-pbp-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  padding: 3rem 3.5rem;
  box-sizing: border-box;
}

.event-pbp-content h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.event-pbp-content p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.event-pbp-description {
  margin-bottom: 2rem;
}

.event-pbp-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 2rem;
}

.event-pbp-left-arrow img,
.event-pbp-right-arrow img {
  height: 3rem;
  width: 1.6rem;
  cursor: pointer;
  object-fit: contain;
}

@keyframes pbpAnimation {
  0% {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes pbpAnimationAfter {
  0% {
    position: initial;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    position: initial;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes pbpAnimationBackwards {
  0% {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes pbpAnimationBackawrdsAfter {
  0% {
    position: initial;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    position: initial;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0%);
  }
}

.carousel p {
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.event-pbp-register button {
  background-color: white;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: transparent;
  font-family: "Lexend", sans-serif;
}

.event-pbp-register button::before {
  content: 'REGISTER NOW';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00FFFF, #0000FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.event-pbp-register button:hover {
  background-color: #f0f0f0;
}

/* guest star, talkshow, games, side quest */
.main-event {
  padding: 3rem 0;
  color: white;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.guest-star {
  background-image: url('assets/guest-star.png');
  background-size: cover;
  background-position: center;
  border: 2px #49a1cd solid;
  padding: 3rem 1.5rem;
  border-radius: 12.5px;
  color: white;
  width: 100%;
}

.guest-star h1 {
  margin-bottom: 2rem;
  font-family: 'Atlantis', sans-serif;
  font-size: 3rem;
}

.guest-star-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.guest-description {
  width: 50%;
}

.guest-description p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.guest-image {
  width: 50%;
}

.guest-image img {
  width: 15rem;
  margin-bottom: 2rem;
}

.guest-image h2 {
  font-size: 2rem;
  font-family: 'Atlantis', sans-serif;
}

.events-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.events-card {
  background-image: url('assets/guest-star.png');
  background-size: cover;
  background-position: center;
  border: 2px #49a1cd solid;
  padding: 3rem 1.5rem;
  border-radius: 12.5px;
  margin-top: 1rem;
  width: 33%;
  color: white;
}

.events-card h2 {
  font-family: 'Atlantis', sans-serif;
  margin-bottom: 1rem;
}

/* Expo section */
.expo {
  padding: 3rem 0;
  color: white;
  text-align: center;
}

.expo h1 {
  font-family: 'Atlantis', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.expo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.expo-card-cont {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

#card-1,
#card-3 {
  width: 23.6rem;
  height: 24.4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./assets/dummy-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in-out;
}

#card-4,
#card-5,
#card-6,
#card-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./assets/dummy-image.jpg");
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: -3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in-out;
}

.expo-card-place-desc-hidden {
  width: 0;
  height: 0;
}

#card-2 {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./assets/dummy-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in-out;
}

#card-desc-1,
#card-desc-2,
#card-desc-3 {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

#card-desc-4,
#card-desc-5,
#card-desc-6,
#card-desc-7 {
  width: 0;
  height: 0;
  transition: all 1s ease-in-out;
}

.expo-card {
  border-radius: 20px;
}

#card-1 {
  background-image: url('assets/alam-sutera.png');
}

#card-2 {
  background-image: url('assets/kemanggisan.png');
}

#card-3 {
  background-image: url('assets/senayan.png');
}

#card-4 {
  background-image: url('assets/semarang.png');
}

#card-5 {
  background-image: url('assets/malang.png');
}

#card-6 {
  background-image: url('assets/bekasi.png');
}

#card-7 {
  background-image: url('assets/bandung.png');
}

#card-1:hover,
#card-2:hover,
#card-3:hover,
#card-4:hover,
#card-5:hover,
#card-6:hover,
#card-7:hover {
  filter: brightness(0.9);
  transition: all 0.3s ease;
}

.expo-button-left,
.expo-button-right {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 4rem;
  height: 4rem;
  z-index: 10;
  cursor: pointer;
}

.expo-button-left:hover,
.expo-button-right:hover {
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
}

.expo-button-left img,
.expo-button-right img {
  width: auto;
  height: 2rem;
}

.expo-card-place-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .algorena {
      width: 50%;
  }

  .event-pbp-content {
      width: 50%;
  }

  .event-pbp-content h2 {
      font-size: 1.5rem;
  }    

  .event-pbp-content p {
      font-size: 1rem;
      padding-bottom: 1rem;
  }

  .event-pbp-register button {
      width: 12rem;
      height: 2.5rem;
      font-size: 1.25rem;
  }

  .guest-image img {
      width: 10rem;
  }

  .guest-description p {
      font-size: 1.25rem;
  }

  .expo-content {
      gap: 0;
  }
}

@media (max-width: 768px) {
  .algorena {
      display: none;
  }

  .event-pbp-content {
      width: 100%;
  }

  .event-pbp-left-arrow img,
  .event-pbp-right-arrow img {
      height: 2.5rem;
      width: 1.2rem;
  }

  .guest-image img {
      width: 7.5rem;
  }

  .guest-description p {
      font-size: 1rem;
  }

  .guest-star-content {
      padding: 0;
  }

  .guest-star-content {
      flex-direction: column;
  }

  .guest-image {
      order: -1;
      width: 100%;
  }

  .guest-description {
      width: 100%;
      text-align: center;
      padding-top: 1rem;
  }

  .events-container {
      flex-direction: column;
  }

  .events-card {
      margin: 0 !important;
      margin-top: 1rem !important;
      width: 100%;
  }

  .expo-content {
      gap: 0;
      align-items: center;
  }

  .expo-card-cont {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
  }

  .expo-card {
      display: none;
      width: 100%;
      height: auto;
      max-width: 100%;
      transition: opacity 0.5s ease-in-out;
  }

  .expo-card.active {
      display: block;
  }

  .expo-button-left,
  .expo-button-right {
      width: 3rem;
      height: 3rem;
  }

  .expo-button-left img,
  .expo-button-right img {
      height: 1.5rem;
  }
}

.footer {
  background-color: #243b67;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logos {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.footer-logos img {
  width: auto;
  height: 8rem;
  object-fit: contain;
}

.footer p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 12rem;
  }

  .footer-logos img {
    width: 6rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 10rem;
  }

  .footer-logos {
    gap: 1rem;
  }

  .footer-logos img {
    width: 5rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}